@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    height: 100%;
}
 body{
 
 color :white;
font:  normal 15px  'Roboto', sans-serif;
 
background: url('../pics/bean.jpg') yellowgreen center center no-repeat fixed;


} 
