* {
  box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
margin: 0px;
color :white;
font:  normal 15px  'Roboto', sans-serif;
background: url('../pics/rose.jpg') fixed;
}
.box {
    color: black;
    background-color:green;
   max-width: 400px;
  width: 80%;
    padding: 0;
    border-width: 20px ;
    border-style:  solid;
    border-color: black;
    margin:  auto; 
} 
.box-content h2{
  margin: 0;
}
 .holes{
     background-image: url('../pics/holes.jpg');
    
     height: 200px;
     background-position: center center;
   
 }
 .box-content{
     padding: 40px;
    
 }