
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
* {
  box-sizing: border-box
}


body{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;

  
background: url('../pics/pexel.jpeg') fixed; 
margin: 0px;
}

.box{
color:black;
background-color: white;
max-width: 350px;

width: 90%;
margin: 40px auto;
}
.box .holes { background-image: url('../pics/holes.jpg');

    height: 200px;
    
}
.box .box-content{
    padding: 20px ;
}
.box .box-content h2{
    margin: 0px;
}

.box.box-2 .holes{
  background-image:url('../pics/forrest.jpg') ;
  height:150px;}
  .box.box-2 .box-content h2 {
    color: red;
  }
  
.box.box-2 .box-content p {
  font-family: 'Oswald', sans-serif;
}
  
